name: Deploy to Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE: ai-clothes-fe
  SERVER_PATH: /var/www/ai-clothes-fe

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code∆Ø
        uses: actions/checkout@v4

      - name: Copy files to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          source: ".,!node_modules,!dist"
          target: "/var/www/ai-clothes-fe"
          rm: true

      - name: Build and run Docker on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd /var/www/ai-clothes-fe
            docker stop ${DOCKER_IMAGE} || true
            docker rm ${DOCKER_IMAGE} || true
            docker compose up --build -d
            docker image prune -f
            echo "Deployment completed successfully!"
